@model todo.Models.Item
@{
    ViewBag.Title = "Customer Reply Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Customer Reply Sent</h2>
<p>
    @Html.ActionLink("Go back to List", "Index")
</p>
